@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    min-height: 50px;
}

h1 {
    color: #43a58f;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* takes all remaining space that 
     * header and footer don't */
    flex: 1;
    margin-top: 30px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    margin-top: 20px;
}

footer button {
    min-height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    border-color: #a5a5a5;
    color: grey;
}

input {
    border: 1px solid black;
    height: 25px;
    width: 200px;
    padding: 5px;
    background-color: #f3f3f3;
}

table {
    border-collapse: collapse;
}

th {
    color: #43a58f;
}

td {
    border: 1px solid black;
}

button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #dad6d6;
}

.error {
    color: red;
    font-style: italic;
}

#subnetInputTable {
    margin-top: 30px;
}

#subnetInputTable input {
    border: 0px;
}

#calculate {
    margin-top: 20px;
    min-width: 100px;
    min-height: 30px;
}

#leftButtons {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#leftButtons button {
    min-width: 60px;
}

#centerButtons {
    flex: 1;
    display: flex;
    justify-content: center;
}

#rightButtons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#changeDayNightColor {
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
}

#changeDayNightColor i {
    padding-left: 5px;
}

.shareButton {
    padding: 0px;
    border: 0px;
}

.shareButton i {
    font-size: 30px;
}

#facebookShareButton i {
    color: #3b5998;
}

#twitterShareButton {
    color: #1da1F2;
}

#redditShareButton {
    color: #ff5700;
}

/* ABOUT */

#about a {
    text-decoration: none;
}

#about header {
    justify-content: flex-start;
    background-color: white;
}

#about header i {
    display: flex;
    padding-left: 20px;
    font-size: 50px;
    color: grey;
    padding-top: 10px;
}

#about main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}


#about #authors {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: 10px;
}

#about #authors .emoji {
    font-size: 60px;
}

#about #authors div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about #githubLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #f3f3f3;
}


#about #githubLink i {
    font-size: 60px;
    padding-right: 10px;
}
