@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
}

h1 {
    color: #43a58f;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* takes all remaining space that 
     * header and footer don't */
    flex: 1;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer button {
    min-height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    border-color: #a5a5a5;
    color: grey;
}

input {
    border: 1px solid black;
    height: 25px;
    width: 200px;
    padding: 5px;
    background-color: #f3f3f3;
}

table {
    border-collapse: collapse;
}

th {
    color: #43a58f;
}

button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #dad6d6;
}

.error {
    color: red;
    font-style: italic;
}

#subnetInputTable {
    margin-top: 30px;
}

#subnetInputTable td {
    border: 1px solid black;
}

#subnetInputTable input {
    border: 0px;
}

#calculate {
    margin-top: 20px;
    min-width: 100px;
    min-height: 30px;
}

#languageChange {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#languageChange button {
    min-width: 60px;
}

#themeChange {
    flex: 1;
    display: flex;
    justify-content: center;
}

#socialMediaButtons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#changeDayNightColor {
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
}

#changeDayNightColor i {
    padding-left: 5px;
}
