body {
    background-color: #0F111A;
}

header {
    background-color: #1F2233;
    box-shadow: 0px 0px 10px black;
}

body, td, input, i, a {
    color: #FFFFFF;
}

th {
    color: #007fff;
}

nav h1,
nav a:hover, 
nav button:hover {
    color: #43a1ff;
}

main button {
    background-color: #007fff;
    color: white;
}

input, td {
    background-color: transparent;
    border: 1px solid #2c5c8d;
}

#subnetResultTableInfo tr td:first-child {
    color: #007fff;
}

@media (max-width: 720px) {

    #subnetResultTable td::before {
        color: #007fff;
    }

}